<form class="form-horizontal" action="/entrar" method="post">
  <fieldset>
    <div class="col-md-4 col-md-offset-4">

      <div class="form-group label-floating">
          <label class="control-label" for="email">digite seu e-mail</label>
          <input class="form-control" id="email" name="email" type="email">
      </div>

      <div class="form-group label-floating">
          <label class="control-label" for="senha">digite sua senha</label>
          <input class="form-control" id="senha" name="senha" type="password">
      </div>

      <button class="btn btn-raised btn-primary pull-right" type="submit" name="button">Entrar</button>
    </div>

  </fieldset>
</form>
